body, html {

  
  }
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  width: 716px;
  background-color: #eee;
  height: 100%;
  top: 0;
  right: -716px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
  display: none;
}
.hidden-menu-ticker:checked ~ #btn{

  right: 0;
}


.m{
  margin: 0;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}




.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}



.table-btn{
  border: 0;
  background:#4a5958; 
  height: 34px; 
  color: white; 
  border-radius: 6px;
  font-family: 'HelveticaNeueCyr'; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 11px;
}


.menu-btn{
  border: 0;
  background:#4a5958; 
  height: 34px; 
  color: white; 
  border-radius: 6px;
  font-family: 'HelveticaNeueCyr'; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 11px;
  width: 182px;
height: 38px;

display: flex;
align-items: center;
justify-content: center;

}

th{
  height: 54px;
}
thead{
background: rgba(24, 24, 25, 0.8);
}

.l-menu{
  
  list-style-type: none;

  width: 200px;
  height: 36px;
  border-radius: 6px;

  display: flex;
align-items: center;


opacity: 0.5;
  
}

.a{
  background: rgba(255, 255, 255, 0.2);
}

.lmt{
  font-family: 'HelveticaNeueCyr'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 12px; display: flex; align-items: center;letter-spacing: 0.05em; color: #8c8c8c; margin-left:15px
}

.lmsnap{
	font-family: 'HelveticaNeueCyr'; 
	position: absolute;
	font-style: normal;
	font-weight: 400;
	font-size: 15px; 
	line-height: 15px;
	
width: 99px;
height: 15px;
color: #B2B3B9;


	
}

.lmtli{
	list-style-type: none; 
	position: absolute;
	 width: 200px; 
	 height: 36px;
	 opacity: 0.5; 
	 border-radius: 6px;
	
}


.rightM-font{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	
	
}

.np{
	margin-left: 55px;	
	  display: flex;
  align-items: center;
}
.np span{
	margin-right: 100px ;
	font-family: 'HelveticaNeueCyr'; font-style: normal; font-weight: 550; font-size: 14px; line-height: 14px; display: flex; align-items: center; letter-spacing: 0.01em; color: #FFFFFF;
}
.status{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;

	/* identical to box height */
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;

	color: #FFFFFF;
	
}
	

.dad{
	width: 444px;
height: 138px;
background: green;
	
}
